{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{form(form)}}

    <ul class="list">
    {% if data is empty %}
     <li> No Records Found </li>
    {% else %} 
       {% for datum in data %} 
            <li> {{ datum.blogText }} </li>
       {% endfor %}
    {% endif %}
     </ul>   
</div>
{% endblock %}
